.header-nav {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
}
.header-nav .area-noxu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-content: space-between;
  flex: 1;
}
.header-nav .area-noxu .titulo-nav {
  font-weight: 900;
  font-size: 2em;
  display: flex;
  align-content: flex-start;
  padding: 5px 15px;
}
.header-nav .contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}
.header-nav .contenedor .btn {
  height: 50px;
  width: 50px;
  display: flex;
  font-size: 40px;
}
.header-nav .contenedor .checkbox {
  display: flex;
  padding: 5px 5px;
  justify-content: center;
  display: none;
}
.header-nav .contenedor nav > div {
  /* clase contenedor-div */
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.75s ease;
  z-index: 9;
}
.header-nav .contenedor nav > div ul {
  width: 100%;
  padding: 0;
  margin: 0;
}
.header-nav .contenedor nav > div ul li {
  padding-left: 10px;
}
.header-nav .contenedor nav > div ul li .palabraHome {
  color: white;
}
.header-nav .contenedor nav > div ul li a {
  background-color: black;
  display: block;
  padding: 10px 0px;
  text-decoration: none;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.75);
}
.header-nav .contenedor nav > div .div-form {
  display: flex;
}
.header-nav .contenedor nav > div .div-form .formulario {
  padding-left: 10px;
  width: 100%;
  font-size: 1em;
  margin: 8px 0px;
}
.header-nav .contenedor nav > div .div-form .formulario .search {
  height: 38px;
  width: 70%;
  border-radius: 5px;
  border: none;
  color: #495057;
  margin-right: 5px;
  padding-left: 5px;
  box-sizing: border-box;
}
.header-nav .contenedor nav > div .div-form .formulario .search-button {
  background-color: transparent;
  color: #008cba;
  border: 1px solid #008cba;
  border-radius: 5px;
  height: 38px;
}

.checkbox:checked + nav > .contenedor-menu {
  max-height: 450px;
  transition: max-height 0.75s ease;
}

.hero {
  background: url("../imagenes/hero-background.jpg") no-repeat center;
  display: flex;
  background-size: cover;
  width: 100vw;
  height: 70vh;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.hero .hero-title {
  display: flex;
  font-weight: 900;
  margin-top: 5px;
}
.hero .sub-title {
  display: flex;
  font-weight: 400;
  font-style: italic;
  margin-top: 0;
}

.seccion-featured {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
}
.seccion-featured .col-contenedor {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seccion-featured .col-contenedor .recuadro {
  border: 1px solid white;
  width: 150px;
  border-radius: 5px;
  height: 100px;
  position: relative;
  margin: 15px;
  align-content: center;
  flex-wrap: flex;
}
.seccion-featured .col-contenedor .recuadro .texto-view {
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  font-size: 30px;
  font-weight: 700;
}
.seccion-featured .col-contenedor .featured-title {
  display: flex;
  font-size: 35px;
  padding: 0px 15px;
  text-align: center;
  box-sizing: border-box;
  align-content: center;
}
.seccion-featured .card-container {
  display: flex;
  flex-direction: column;
  padding: 3px 10px;
  justify-content: center !important;
  padding: 0px 20px;
}

.view-all:active {
  background-color: white;
  color: #212529;
}

.card {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 26px;
  border-radius: 3px;
}
.card .photo-card {
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card .product-info {
  color: #212529;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.card .product-info .product-name {
  font-size: 20px;
  width: 100%;
  padding: 2px 14px;
  margin-bottom: 0;
}
.card .product-info .precio {
  font-size: 20px;
  width: 50%;
  padding: 2px 14px;
}
.card .product-info .iconos {
  display: flex;
  position: absolute;
  bottom: 13px;
  padding: 2px 14px;
}

.seccion {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
}
.seccion .col-contenedor {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seccion .col-contenedor .titulo-items {
  display: flex;
  font-size: 35px;
  padding: 0px 15px;
  text-align: center;
  box-sizing: border-box;
  align-content: center;
}
.seccion .card-container {
  display: flex;
  flex-direction: column;
  padding: 3px 10px;
  justify-content: center !important;
  padding: 0px 20px;
}
.seccion .card-container .photo-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.seccion .card-container .photo-container .imagen-texto {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  align-content: center;
}
.seccion .card-container .photo-container .imagen-texto .texto-imagen {
  position: absolute;
  font-size: 30px;
  display: flex;
  font-weight: 700;
  justify-content: space-evenly;
  width: 100%;
}
.seccion .card-container .photo-container .imagen-texto .photo-items {
  margin-bottom: 25px;
  max-width: 100%;
  border-radius: 5px;
}
.seccion .card-container .photo-container .imagen-texto .photo-items#shoes {
  min-height: 200px;
  height: 80px;
  max-height: 208px;
}
.seccion .card-container .photo-container .imagen-texto .photo-items#jeans {
  min-height: 200px;
  height: 240px;
  width: 100%;
}
.seccion .card-container .photo-container .imagen-texto .photo-items#shirts {
  max-height: 220px;
}
.seccion .card-container .photo-container .imagen-texto .photo-items#outfits {
  max-height: 550px;
}

.pie-pagina {
  width: 100%;
  background-color: #323232;
}
.pie-pagina .col-contenedor {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pie-pagina .col-contenedor .titulo-items {
  display: flex;
  font-size: 35px;
  padding: 0px 15px;
  text-align: center;
  box-sizing: border-box;
  align-content: center;
  margin: 20px 0px;
}
.pie-pagina .col-contenedor .parrafo {
  width: 80%;
  text-align: center;
  margin: 0;
  font-size: 20px;
}
.pie-pagina .col-contenedor .contacto-address {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pie-pagina .col-contenedor .contacto-address .subtitulo {
  font-size: 25px;
  margin: 0;
  margin-bottom: 10px;
}
.pie-pagina .col-contenedor .contacto-address .separador {
  font-weight: 700;
  margin: 4px 0px;
  font-size: 20px;
}
.pie-pagina .col-contenedor .contacto-address .texto {
  margin: 0;
  margin-bottom: 10px;
}
.pie-pagina .col-contenedor .recuadro {
  border: 1px solid white;
  width: 150px;
  border-radius: 5px;
  height: 60px;
  position: relative;
  margin: 15px;
  align-content: center;
  flex-wrap: flex;
}
.pie-pagina .col-contenedor .recuadro .texto-view {
  box-sizing: border-box;
  padding: 0px 5px;
  font-size: 20px;
  text-align: center;
}
.pie-pagina .col-contenedor .div-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.pie-pagina .col-contenedor .div-info .info {
  font-size: 25px;
  margin: 0;
  margin-bottom: 10px;
}
.pie-pagina .col-contenedor .div-info a {
  text-align: center;
  color: #007bff !important;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 20px;
}
.pie-pagina .col-contenedor .map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.pie-pagina .col-contenedor .map-container .mapa {
  width: 80%;
  max-height: 100%;
  box-sizing: border-box;
}
.pie-pagina .col-contenedor .parrafo2 {
  width: 65%;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  padding: 3px 20px;
  line-height: 1.6;
}
.pie-pagina .col-contenedor .parrafo2 a {
  color: #007bff !important;
  text-decoration: none;
}
.pie-pagina .col-contenedor .iconos-web {
  font-size: 45px;
  padding-bottom: 15px;
  padding-right: 15px;
}
.pie-pagina .col-contenedor .iconos-web a {
  margin: 0px 20px;
  color: #007bff;
}
.pie-pagina .col-contenedor .iconos-web a:active {
  color: #007bff;
}

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  color: white;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* a {
  text-decoration: none;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.75);
}
 */

/*# sourceMappingURL=estilos.css.map */
