.pie-pagina {
  width: 100%;
  background-color: #323232;
  .col-contenedor {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    .titulo-items {
      display: flex;
      font-size: 35px;
      padding: 0px 15px;
      text-align: center;
      box-sizing: border-box;
      align-content: center;
    }
    .contacto-address {
      display: flex;
      flex-direction: column;
      align-items: center;
      .subtitulo {
        font-size: 25px;
        margin: 0;
        margin-bottom: 10px;
      }
      .separador {
        font-weight: $font-weight-bold;
        margin:4px 0px;
        font-size: 20px;
      }
      .texto{
          margin:0;
          
      }
    }
  }
}
