.seccion-featured {
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
  width: 100%;
  .col-contenedor{
      box-sizing: border-box;
      display: flex;
      
      .view-all{
          border: 1px solid white;
      }
  }
}
