header {
  margin: 0;
  padding: 0;
  border: 1px solid white;
  width: 100%;
  display: flex;
  .area-noxu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-content: space-between;
    flex: 1;
    .titulo-nav {
      font-weight: $font-weight-black;
      font-size: 2em;
      display: flex;
      align-content: flex-start;
      padding: 5px 5px;
    }
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;

    .btn {
      height: 50px;
      width: 50px;
      border: 1px solid white;
      display: flex;
      font-size: 40px;
    }
    .checkbox {
      display: flex;
      padding: 5px 5px;
      justify-content: center;
    }
    nav {
      >div {
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        width: 100%;
        background-color: black;

        ul {
          width: 100%;
          padding: 0;
          margin: 0;

          li {
            padding-left: 10px;
            .palabraHome {
              color: $color-font;
            }
            a {
              background-color: black;
              display: block;
              padding: 10px 0px;
              text-decoration: none;
            }
          }
        }
        .div-form {
          display: flex;
          
        }
      }
    }
  }
}
